
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
@Html.ValidationSummary()
<div>
    @Html.ActionLink("Войти", "Login", "Account")
</div>
<div>
    @Html.ActionLink("Выйти", "LogOff", "Account")
</div>
<div>
    @Html.ActionLink("Список пользователей", "Index", "User")
</div>
<div>
    @Html.ActionLink("Создать нового пользователя", "CreateUser", "User")
</div>
<div>
    @Html.ActionLink("Перейти к заметкам", "ShowNotes", "Notes")
</div>


